<div id="<%= dom_id shop %>">
  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= shop.town_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= shop.kind %>
  </p>

</div>
