<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
    <i class="fas fa-dice-d20"></i>
    </div>
    <div class="sidebar-brand-text mx-3">RPG Tools</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <%# search https://fontawesome.com/v5/search for icon tags %>
  <%= sidebar_element('Início', 'fas fa-home', auth_home_path) %>

  <%# SIDEBAR HELPERS AREA %>
  <%# END OF SIDEBAR HELPERS AREA %>
  
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <% if true == false #hidding this piece %>
    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
      <%= image_tag 'undraw_rocket.svg', class: 'sidebar-card-illustration mb-2' %>
      <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
      <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>
  <% end %>
</ul>