<div id="<%= dom_id town_detail %>">
  <p>
    <strong>Town:</strong>
    <%= town_detail.town_id %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= town_detail.size %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= town_detail.population %>
  </p>

</div>
