<h1>Editing town detail</h1>

<%= render "form", town_detail: @town_detail %>

<br>

<div>
  <%= link_to "Show this town detail", @town_detail %> |
  <%= link_to "Back to town details", town_details_path %>
</div>
